.voteTable {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.voteData {
  padding-right: 20px;

  border-bottom: darkslategray solid 0.5pt;
}
#tableContainer {
  margin-top: 10%;
}
.voteHeader {
  margin: 1rem;
  background-color: dimgray;
  display: flex;
  flex-direction: row;
}
